.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.side {
    width: 30%;
    order: 1;
}

.main {
    width: 70%;
    order: 2;
}

/*.blue {*/
    /*width: 15%;*/
    /*order: 3;*/
/*}*/


