
body {
  background-color: #ccddee;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

li {
    line-height: 125%;
}

.changethis {
    margin-top: 20px;
    margin-left: 40px;
}


